@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css (or your preferred CSS file) */
.card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 250px; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  /* align-items: center; Center text and image horizontally */
}

.card h3 {
  font-size: 0.8rem; /* Adjust the font size as needed */
  margin: 10px 0; /* Add margin above and below the title */
  /* text-align: center; Center the text horizontally */
}

.card p {
  font-size: 0.7rem; /* Adjust the font size as needed */
  margin: 5px 0; /* Add margin above and below paragraphs */
  /* text-align: center; Center the text horizontally */
}

.card img {
  width: 100%; /* Make the image width 100% of its parent (the card) */
  margin-top: 10px; /* Add space between text and image */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio for responsive video */
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* To create rows with 3 cards each on desktop view */
  gap: 10px;
}

/* Adjust the card width for desktop view */
@media (min-width: 768px) {
  .card {
    width: calc(30.33% - 2px); /* Adjust the width as needed and consider gap */
  }
}




@media (max-width: 768px) {
  .card {
    width: 100%; /* Full width on mobile view */
  }
  
  
.card h3 {
  font-size: 1.1rem; /* Adjust the font size as needed */
  margin: 10px 0; /* Add margin above and below the title */
  /* text-align: center; Center the text horizontally */
  
}

.card p {
  font-size: 0.9rem; /* Adjust the font size as needed */
  margin: 5px 0; /* Add margin above and below paragraphs */
  /* text-align: center; Center the text horizontally */
}

}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* To create rows with 4 cards each on desktop view */
}
